{
  "name": "${name}",
  "version": "${version}",
  "description": "${description}",
  "private": true,
  "scripts": {
    "prod": "cross-env NODE_ENV=production node build/prod.js",
    "dev": "cross-env NODE_ENV=development node build/dev.js",
    "debug": "cross-env NODE_ENV=development node --inspect=5858 --debug-brk build/dev.js",
    "lint": "eslint --ext .js,.html --fix --format node_modules/eslint-friendly-formatter src test/unit",
    "karma": "cross-env BABEL_ENV=test karma start ./test/karma.conf.js"
  },
  "author": "${auther}",
  "license": "ISC",
  "devDependencies": {
    "autoprefixer": "",
    "babel-core": "",
    "babel-eslint": "",
    "babel-loader": "",
    "babel-plugin-istanbul": "",
    "babel-plugin-transform-regenerator": "",
    "babel-preset-env": "",
    "babel-preset-stage-2": "",
    "chai": "",
    "connect-history-api-fallback": "",
    "cross-env": "",
    "css-loader": "",
    "eslint": "",
    "eslint-friendly-formatter": "",
    "eslint-import-resolver-webpack": "",
    "eslint-loader": "",
    "eslint-plugin-html": "",
    "eslint-plugin-import": "",
    "express": "",
    "extract-text-webpack-plugin": "",
    "file-loader": "",
    "html-loader": "",
    "html-webpack-plugin": "",
    "karma": "",
    "karma-chai": "",
    "karma-chrome-launcher": "",
    "karma-coverage": "",
    "karma-ie-launcher": "",
    "karma-mocha": "",
    "karma-sourcemap-loader": "",
    "karma-webpack": "",
    "mocha": "",
    "mockjs": "",
    "node-sass": "",
    "opn": "",
    "optimize-css-assets-webpack-plugin": "",
    "postcss-loader": "",
    "rimraf": "",
    "sass-loader": "",
    "style-loader": "",
    "url-loader": "",
    "vue-loader": "",
    "vue-style-loader": "",
    "vue-template-compiler": "",
    "webpack": "",
    "webpack-dev-middleware": "",
    "webpack-hot-middleware": "",
    "webpack-merge": ""
  },
  "browserslist": [
    "> 1%",
    "last 2 versions",
    "not ie <= 8"
  ],
  "dependencies": {
    "babel-polyfill": "",
    "vue": "",
    "vue-router": ""
  }
}