{
  "name": "${name}",
  "version": "${version}",
  "description": "${description}",
  "main": "./dist/index.js",
  "bin": {
    "${name}": "./bin/start.js"
  },
  "scripts": {
    "clean": "gulp clean",
    "prod": "gulp",
    "dev": "gulp debug",
    "lint": "gulp eslint",
    "build": "gulp build"
  },
  "author": "${auther}",
  "license": "ISC",
  "devDependencies": {
    "babel-cli": "",
    "babel-eslint": "",
    "babel-polyfill": "",
    "babel-preset-env": "",
    "chai": "",
    "del": "",
    "eslint": "",
    "gulp": "",
    "gulp-babel": "",
    "gulp-eslint": "",
    "gulp-sourcemaps": "",
    "mocha": ""
  },
  "dependencies": {
    "babel-polyfill": ""
  }
}
